body {
	background: #035200;
}

img {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	position: relative;
}

#squid_crane {
	order: 1;
}

#cat {
	order: 2;
	float: right;
}

#three_women {
	order: 3;
}

#infinite_gif {
	order: 4;
	float: right;
}

#text {
	position: relative;
	left: 30vw;
	width: 50vw;
	display: grid;
	font-family: 'Quicksand', sans-serif;
	color: #69003A;
}