.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.theButton {
    position: relative;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 200px;
    background-color: #FF0000;
    border-radius: 50%;
}

.theButton:active {
    filter: drop-shadow(30px 10px 4px #4444dd);
}