@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

html {
	height: 100vh;
}

body {
	height: 500vh;
	font-family: 'Roboto', sans-serif;
	color: rgb(142, 142, 171);
}

canvas {
	position: fixed;
	max-width: 100vw;
	max-height: 100vh;
}

p#fragmented_comments {
	display: inline-flex;
	position: relative;
	top: 92vh;
	left: 1.1vw;
}

p#fragmented_comments:hover {
	cursor: pointer;
	background: rgb(245, 245, 270);
}


div#atomic_overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
  	right: 0;
  	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(16, 16, 16, 0.95);
}