/*import Open Sans font-family from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
	margin: 0px; /*so the three.js canvas fills up the whole screen*/
	height: 500vh; /*sets the overall height of the webpage*/
	background-color: #C9B859; /*blend canvas background color with body background color*/
}

canvas {
	/*Keeps the canvas on the screen while user scrolls */
	position: fixed;
}

div#cookie_link_container {
	display: none; /*begin without rendering div container and its contained elements*/
	position: fixed; /*keep div on the screen while user scrolls*/
	
	/*expand to window width/height*/
	width: 100vw;
	height: 100vh;

	flex-direction: column; /*to make each flex item (div with link) a new line*/
	align-items: center; /*center horizontally*/
	justify-content: center; /*center vertically*/

	/* Credit: https://tenor.com/view/cookie-monster-sesame-street-cookies-eating-cookies-gif-13530571 */
	background-image: url("assets/cookie_monster_sesame_street.gif");
	background-repeat: round; /*scale-to-fit images that are entirely inside the webpage window*/ 
	background-attachment: fixed; /* this line creates parallax scrolling effect*/

	animation: opacity-in 1.5s; /*animate the opacity in 1.5s*/
}

/*opacity animation for div#cookie_link_container (2 keyframes)*/
@keyframes opacity-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

div.cookie_text {
	margin: 13vh;
	padding: 50px;
	border-radius: 20px;
	background-color: rgba(43, 136, 255, 0.98);

	/*For text inside div*/
	font-family: 'Open Sans', sans-serif;
	color: #662B08;
	text-align: center;
}

/*div container for each article link*/
div.cookie_link {
	margin: 2vh;
	padding: 25px;
	border-radius: 50px;
	background-color: rgba(43, 136, 255, 0.9);
}

/*article links*/
a.cookie_links {
	font-family: 'Open Sans', sans-serif;
	color: #FFB52B;
	text-shadow: #E4FFD8 0 0 10px;
}

/*when the user hovers over the link*/
a.cookie_links:hover {
	color: #CC40FF;
}